{% extends "base.html" %}

{% block main_content %}
    <div class="about_div">
        <h1 class="about_heading">About Xibit</h1>
        <img src="../static/images/xibit_banner.png" class="banner" alt="Xibit banner">
        <div class="left_text">
            <p class="text">Xibit is an ambitious project born from the dream to unite artists and allow them to show off their true and unfiltered talent.</p>
            <p class="text">We are a team of four ambitious developers with very different skills and interests.</p>
            <h2>Meet Our Team</h2>
        </div>
    </div>    
{% endblock %}
