<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Xibit - {{ page }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" />
        {% block head_content %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="../static/images/xibit_logo.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body id="body">
        <header>
            <div class="topnav">
                <ul>
                    <li style="float:left"><img src="../static/images/logo2.png" class="logo" alt="Xibit Logo"></li>
                    <li class="nav_text" style="float:left"><a href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav_text" style="float:left"><a href="{{ url_for('paint') }}">Paint</a></li>
                    {% if g.user %}
                    <li class="nav_text" style="float:left"><a href="{{ url_for('profile', user = g.user) }}">Profile</a></li>
                    <li class="nav_text" style="float:right"><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li class="nav_text" style="float:right"><a href="{{ url_for('register') }}">Register</a></li>
                    <li class="nav_text" style="float:right"><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                    <li class="nav_search" style="float:left"><input type="text" id="post_search" placeholder="Search for a tag">  </li>
                </ul>
            </div>
        </header>
        <main id="main">
            {% block main_content %}
            {% endblock %}
            
            {% block reg_login %}
            {% endblock %}
        </main>
        <footer>
            <div class="footer_mainblock">
                <div class="footer_block1">
                    <img src="../static/images/logo2.png" class="footer_logo" alt="Xibit Logo">
                    <a class="text_footer">Unfiltered, talented, creative</a>
                </div>
                <div class="footer_block2">
                    <a class="footer_heading">Learn More</a>
                    <a class="text_footer" href="{{ url_for('about') }}">About</a>
                    <a class="text_footer">Project</a>
                </div>
                <div class="footer_block3">
                    <a class="footer_heading">Find Us</a>
                    <a class="text_footer">Klaudia Kulas</a>
                    <a class="text_footer">Robert Coughlan</a>
                    <a class="text_footer">Dylan Mulcahy</a>
                    <a class="text_footer">Darragh Hession</a>
                </div>
            </div>

            <div class="footer_divider"></div>

            <a class="footer_btext">© 2023 Xibit. Klaudia Kulas, Robert Coughlan, Dylan Mulcahy, Darragh Hession</a>

        </footer>
    </body>
</html>