<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Xibit - {{ page }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" />
        {% block head_content %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="../static/images/xibit_logo.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body id="body">
        <header>
            <div class="topnav">
                <ul>
                    <li style="float:left"><img src="../static/images/logo2.png" class="logo" alt="Xibit Logo"></li>
                    <li class="nav_text" style="float:left"><a href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav_text" style="float:left"><a href="{{ url_for('paint') }}">Paint</a></li>
                    {% if g.user %}
                    <li class="nav_text" style="float:left"><a href="{{ url_for('profile', user = g.user) }}">Profile</a></li>
                    <li class="nav_text" style="float:right"><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li class="nav_text" style="float:right"><a href="{{ url_for('register') }}">Register</a></li>
                    <li class="nav_text" style="float:right"><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <main id="main">
            {% block main_content %}
            {% endblock %}
            
            {% block reg_login %}
            {% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>