{% extends "base.html" %}

{% block head_content %}
<script src="../static/search.js"></script>
{% endblock %}

{% block main_content %} 

<h1 class="friend_H1">Friends for @{{ user }}</h1>

{% if noFriends == True %} 
<p class="friend_text">No friends found</p>
{% endif %}

{% for friend in friends %}

    <a href="{{ url_for('profile', user = friend) }}">{{ friend }}</a>
    {% if user == g.user %} 
        <a href="{{ url_for('deleteFriend', user = friend)}}">Remove friend</a>
    {% endif %}
{% endfor %}

{% endblock %}
