{% extends "base.html" %}

{% block head_content %}
<script src="../static/search.js"></script>
{% endblock %}

{% block main_content %} 

<h1 class="about_heading" style="text-align: center; margin-top: 50px;">{{ user }}'s Friends</h1>
<div class="friendslist_container">
    {% if noFriends == True %} 
    <p class="friend_text">No friends to display yet</p>
    {% endif %}

    {% for friend in friends %}

        <a href="{{ url_for('profile', user = friend) }}" class="text">{{ friend }}</a>
        {% if user == g.user %} 
            <a href="{{ url_for('deleteFriend', user = friend)}}" class="text">Remove friend</a>
        {% endif %}
    <div class="comment_divider"></div>
    {% endfor %}
</div>

{% endblock %}
