{% extends "base.html" %}

{% block head_content %}
<script src="../static/feed.js" type="module"></script>
{% endblock %}


{% block main_content %}
    {% for pt in post %}
        <option class="post">{{ pt }}</option>
    {% endfor %}
    {% for ur in user %}
        <option class="user">{{ ur[0] }}</option>
        <option class="display">{{ ur[1] }}</option>
        <option class="pfp">{{ ur[2] }}</option>
    {% endfor %}
    {% for l in likes %}
        <option class="likes">{{ l[0] }}</option>
        <option class="id">{{ l[1] }}</option>
    {% endfor %}
    {% for d in date %}
        <option class="date">{{ d }}</option>
    {% endfor %}
{% endblock %}