{% extends "base.html" %}

{% block head_content %}
<script src="../static/feed.js" type="module"></script>
{% endblock %}


{% block main_content %}
    {% for pt in post %}
        <option class="post">{{ pt }}</option>
    {% endfor %}
    {% for ur in user %}
        <!--<option class="pfp"><img class="profile_image" src="{{ url_for('static', filename='images/' + ur[2]) }}"></option>-->
        <option class="user">{{ ur[0] }}</option>
        <option class="display">{{ ur[1] }}</option>
    {% endfor %}
    {% for l in likes %}
        <option class="likes">{{ l }}</option>
    {% endfor %}
    <div id="top_post">   
    </div>
{% endblock %}