{% extends "base.html" %}

{% block head_content %}
<script src="../static/feed.js" type="module"></script>
{% endblock %}


{% block main_content %} 
    <form class="text" action="#" method="POST" novalidate>
        <select name="order_by" id="order_by">
            <option id="sort_by" value="sort_by" selected="selected">Sort by:</option>
            <option value="date_desc" {% if order_by == 'date_desc' %}selected="selected"{% endif %}>Newest first</option>
            <option value="date_asc" {% if order_by == 'date_asc' %}selected="selected"{% endif %}>Oldest first</option>
            <option value="likes_desc" {% if order_by == 'likes_desc' %}selected="selected"{% endif %}>Most likes first</option>
            <option value="likes_asc" {% if order_by == 'likes_asc' %}selected="selected"{% endif %}>Least likes first</option>
            {% if friends == True %}
                <option value="friends_only" {% if order_by == "friends_only" %}selected="selected"{% endif %}>Friends only</option>
            {% endif %}
        </select>
        <input type="submit" value="Save">
    </form>
    {% for pt in post %}
        <option class="post">{{ pt }}</option>
    {% endfor %}
    {% for ur in user %}
        <option class="user"><a href = "{{url_for('profile', user = ur[0])}}" class="username_link">{{ ur[0] }}</a></option>
        <option class="display">{{ ur[1] }}</option>
        <option class="pfp">{{ ur[2] }}</option>
    {% endfor %}
    {% for l in likes %}
        <option class="likes">{{ l[0] }}</option>
        <option class="id">{{ l[1] }}</option>
    {% endfor %}
    {% for d in date %}
        <option class="date">{{ d }}</option>
    {% endfor %}
    {% for ul in user_likes %}
        <option class="user_likes">{{ ul }}</option>
    {% endfor %}
    {% for t in tags %}
        <option class="tags">{{ t }}</option>
    {% endfor %}
{% endblock %}