{% extends "base.html" %}

{% block reg_login %}
    <div class="center">
        <div class="login_container">
            <form class="text" action="#" method="POST" novalidate>
                <h1>Log In</h1>
                <a class="text">Username</a>
                <br>
                {{ form.hidden_tag() }}
                {{ form.user_id.label }}
                {{ form.user_id() }}
                {% for error in form.user_id.errors %}
                    {{ error }}
                {% endfor %}
                <br />
                <div class="tool_divider"></div>
                <a class="text">Password</a>
                <br>
                {{ form.password.label }}
                {{ form.password() }}
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
                <br />
                <div class="tool_divider"></div>
                {{ form.submit(class="button") }}
            </form>
            <p class="textsmall2">Don't have an account? <a href="{{ url_for('register') }}" class="link_text">Register here</a></p>
        </div>
    </div>

{% endblock %}