{% extends "base.html" %}

{% block main_content %}
    <div class="art_tool">
        <aside class="toolbox">
            <a>Buttons go in here</a>
            <input type="range" min="1" max="15" value="2" id="thick">
            <select id="colour">
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="black">Black</option>
            </select>
            <select id="brush">
                <option value="regular">Regular</option>
                <option value="square">Square</option>
            </select>
        </aside>
        <canvas></canvas>
    </div>
{% endblock %}