{% extends "base.html" %}

{% block main_content %}
    <div class="art_tool">
        <aside class="toolbox">
            <br><br>
            <a class="text">Brush size</a> <br>
            <input type="range" min="1" max="100" value="2" step="0.5" id="thick"> <br>
            <a class="textsmall">Current size: </a>
            <br><br><br>
            <a class="text">Color</a> <br>
            <input type="text" id="colour" data-coloris>
            <br><br><br>
            <a class="text">Brush Shape</a> <br>
            <br><br><br>
            <button id="brush">Brush</button>
            <br><br><br>
            <button id="square">Square</button>
            <br><br><br>
            <button id="circle">Circle</button>
            <a class="textsmall"><input type="checkbox" id="fill">Fill</a>
            <br><br><br>
            <button id="clear">Clear Screen</button>
            <br><br><br>
            <button id="save">Save as Image</button>
            <br><br><br>
            <button id="undo">Undo</button>
            
        </aside>
        <canvas></canvas>
    </div>
{% endblock %}