{% extends "base.html" %}

{% block head_content %}
<script src="../static/search.js"></script>
{% endblock %}

{% block main_content %}
    <div class="profile_container">
        <div class="profile_info" id="profile_elements">
            
            <div>
                <img class="profile_image" src="{{ url_for('static', filename='images/profilepics/' + profilepic[0]) }}" />
                <p class="display_name">{{ display_name[0] }}</p>
                <p class="textsmall_profile">@{{ user }}</p>
            </div>

            <div class="profile_details">
                <ul class="friends_art_likes">
                    <li>{{ friends }} Friends</li>
                    <li>{{ artworks }} Artworks</li>
                    <li>{{ likes }} Likes</li>
                </ul>
                <div class="tool_divider"></div>
                
                <p class="text_profile">{{ bio[0] }}</p>
            </div>

            <input type="checkbox" id="disp_editprofile" name="disp_editprofile"/>
            <div class="edit_display">
                <div class="edit_details">
                    <img class="profile_image" src="{{ url_for('static', filename='images/profilepics/' + profilepic[0]) }}">
                    <div class="tool_divider"></div>
                    
                    {% if user == g.user %}
                    <form class="text" action="#" method="POST" enctype="multipart/form-data" novalidate> 
                        {{ form.hidden_tag() }}
                        {{ form.profile_pic(id_="pfp_file") }}
                        <p class="error_text_pfp">
                        {% for error in form.profile_pic.errors %}
                            {{ error }}
                        {% endfor %}
                        </p>
                        <input type="button" value="Change Profile Picture" onclick="document.getElementById('pfp_file').click();" />
                        {% if profilepic[0] != "default-profile.png" %}
                            <div class="pfp_remove_container">
                                {{ form.rm_pfp(class_="pfp_remove_box") }}
                                {{ form.rm_pfp.label(class_="pfp_remove") }}
                                <p class="error_text">
                                {% for error in form.rm_pfp.errors %}
                                    {{ error }}
                                {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                        <div class="tool_divider"></div>
                        {{ form.display_name.label }}
                        {{ form.display_name() }}
                        <p class="error_text">
                        {% for error in form.display_name.errors %}
                            {{ error }}
                        {% endfor %}
                        </p>
                        <div class="tool_divider"></div>
                        {{ form.bio.label }}
                        {{ form.bio() }}
                        <p class="error_text">
                        {% for error in form.bio.errors %}
                            {{ error }} 
                        {% endfor %}
                        </p>
                        <div class="tool_divider"></div>
                        <div class="edit_btns">
                            <label for="disp_editprofile" class="edit_cancel">Cancel</label>
                            <label for="disp_editprofile">
                                {{ form.submit(class="button", value="Save") }}
                            </label>
                        </div>
                    </form>
                    {% endif %}
                </div>
                <div class="back_shadow"></div>
            </div>
            
            {% if user == g.user %}
                <label for="disp_editprofile" class="edit-btn">Edit Profile</label>
                {% else %}
                {% if friendStatus == None %}
                <label for="send_Friend_Request" class="edit-btn"><a href="{{ url_for('sendFriendRequest', user = user) }}" class="text_btn">Send Friend Request</a></label>
                {% elif friendStatus == "SENT" %}
                <label for="Delete_Friend_Request" class="edit-btn"><a href="{{ url_for('deleteFriendRequest', user = user) }}" class="text_btn">Delete Friend Request</a></label>
                {% elif friendStatus == "RECEIVED" %}
                <label for="Accept_Friend_Request" class="edit-btn"><a href="{{ url_for('acceptFriendRequest', user = user) }}" class="text_btn">Accept Friend Request</a></label>
                <label for="Reject_Friend_Request" class="edit-btn"><a href="{{ url_for('deleteFriendRequest', user = user) }}" class="text_btn">Reject Friend Request</a></label>
                {% else %}
                <label class="friends_text">Friends</label>
                {% endif %}
            {% endif %}
            {% if friends !=0 %}
                <label for="view_Friends" class="edit-btn"><a href="{{ url_for('viewFriends', user = user) }}" class="text_btn">View Friends</a></label>
            {% endif %}

        </div>
        <div class="profile_container2" id="profile_elements">
            <div class="profile_artwork">
                {% for pt in posts %}
                    <image src="{{ pt }}"></image>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}