{% extends "base.html" %}

{% block main_content %}
    <div>
        <aside> 
            
            <div class="pfp">
                <input type="file" class="pfp_file">
            </div>

            <p>
                {{ display_name.displayName }}
            </p>
            <p>@{{ g.user }}</p>

            <p></p>

            <form class="text" action="#" method="POST" novalidate>
                {{ form.hidden_tag() }}
                {{ form.display_name.label }}
                {{ form.display_name() }}
                {% for error in form.display_name.errors %}
                    {{ error }}
                {% endfor %}
                <br />
                {{ form.bio.label }}
                {{ form.bio() }}
                {% for error in form.bio.errors %}
                    {{ error }}
                {% endfor %}
                <br />
                {{ form.submit(class="button") }}
            </form>

            <button id="edit-btn">Edit</button>
            
        <aside>
        <div>
            <div class="profile_artwork">
            </div>
            <div class="profile_friends">
            </div>
        <div>
    </div>
{% endblock %}