{% extends "base.html" %}

{% block reg_login %}
    <div class="center">
        <div class="login_container">
            <form class="text" action="" method="POST" novalidate>
                <h1>Register</h1>
                <a class="text">Username</a>
                {{ form.hidden_tag() }}
                {{ form.user_id.label }}
                {{ form.user_id() }}
                {% for error in form.user_id.errors %}
                    {{ error }}
                {% endfor %}
                <br />
                <div class="tool_divider"></div>
                <a class="text">E-mail</a>
                {{ form.email.label }}
                {{ form.email() }}
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
                <br />
                <div class="tool_divider"></div>
                <a class="text">Password</a>
                {{ form.password.label }}
                {{ form.password() }}
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
                <br />
                <div class="tool_divider"></div>
                <a class="text">Confirm Password</a>
                {{ form.password2.label }}
                {{ form.password2() }}
                {% for error in form.password2.errors %}
                    {{ error }}
                {% endfor %}
                <br />
                <div class="tool_divider"></div>
                {{ form.submit(class="button") }}
            </form>
            <p class="textsmall2">Already have an account? <a href="{{ url_for('login') }}" class="link_text">Log in here</a></p>
        </div>
    </div>
{% endblock %}