{% extends 'base.html' %} 

{% block main_content %} 

<h1 class="friend_H1">Friend requests for {{ g.user }}</h1>

{% if noFriendRequests == True %} 
<p class="friend_text">No pending friend requests at this time</p>
{% endif %}

{% for requester in friendsRequesters %}

    <a href="{{ url_for('profile', user = requester) }}">{{ requester }}</a>
    <a href="{{ url_for('acceptFriendRequest', user = requester) }}">Accept Friend Request</a>
    <a href="{{ url_for('deleteFriend', user = requester) }}">Reject Friend Request</a>


{% endfor %}

{% endblock %}