/* BODY */

body {
    touch-action: none;
    background-color: #121212;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

h1 {
    margin: 0px;
    font-size: 30px;
    padding-bottom: 15px;
}

.text {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

.textsmall {
    color: #c7d4d3;
    font-family: "Lato", sans-serif;
    font-size: 12px;
}

.textsmall2 {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-align: center;
}

.error_text {
    color: #d11a33;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 0px;
}

.link_text {
    color: #1F90E3;
}

button {
    background-color: #22C6FF;
    padding: 10px 30px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    transition: background-color .25s;
}

button:hover {
    background-color: #1F90E3;
}

input[type="range"] {
    width: 150px;
  }

/* TOP NAVIGATION*/
.topnav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #282828;
    z-index: 100;
    box-shadow: 1px 1px 17px 0px black;
    height: 50px;
    padding-right: 15px;
}

.topnav li {
    height: 39px;
    font-size: 20px;
    list-style-type: none;
    color: #ffffff;
}

li a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-weight: 100;
    padding-top: 11px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

ul {
    margin: 0;
}

.logo {
    height: 50px;
    padding-right: 20px;
}

.nav_text {
    padding-top: 11px;
}

.nav_text:hover {
    /*background-color: #383838;*/
    transform: scale(1.1);
}

.nav_text {
    transition: transform .15s;
}

/* CANVAS */
.art_tool {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    /*margin-top: 100px;*/
    /*margin-top: calc(((100vh - 50px)/2) - 420px);*/
    margin-top: calc(((100vh)/2) - 350px);
}

.toolbox {
    width: 350px;
    height: 635px;
    background-color: #383838;
    border-radius: 5px;
    text-align: center;
}

.tool_top {
    margin-top: 50px;
}

.tool_divider {
    height: 20px;
}

canvas {
    background-color: #ffffff;
    /*margin-top: calc(((100vh - 50px)/2) - 420px);
    margin-left: calc(((100vw)/2) - 600px);*/
    border-radius: 5px;
    cursor: crosshair;
}

#colour {
    width: 150px;
    font-family: "Lato", sans-serif;
    height: 20px;
    font-size: 20px;
}

#thick {
    margin-top: 8px;
    width: 150px;
}

.pt_icon {
    margin-top: 8px;
    height: 25px;
    padding: 7px;
    cursor: pointer;
    transition: background-color 0.25s;
    border-radius: 20px;
}

.pt_icon:hover {
    background-color: #282828;
}

.canvas_container {
    display: flex;
    flex-direction: column;
}

.toolbox2 {
    width: 100%;
    background-color: #2d2d2d;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 3px;
    border-color: #121212;
    border-style: solid;
    border-width: 1px;
}

.undo_btn {
    height: 15px;
    margin-top: 5px;
    margin-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    background: linear-gradient(0deg, rgb(95, 95, 95) 0%, rgb(104, 104, 104) 100%);
    border-radius: 5px;

}

.undo_btn:hover {
    background: linear-gradient(0deg, rgb(82, 82, 82) 0%, rgb(81, 81, 81) 100%);
    cursor: pointer;
}

.undo_btn:active {
    background: linear-gradient(0deg, rgb(82, 82, 82) 0%, rgb(81, 81, 81) 100%);
}

.tool_btn {
    background-color: #11b9f1;
    font-size: 15px;
    width: 160px;
    transition: background 0.25s;
    margin: 10px;
    font-family: "Lato", sans-serif;
}

.tool_btn:hover {
    background-color: #1F90E3;
}

#clear {
    background-color: #6d6d6d;
}

#clear:hover {
    background-color: #555555;
}

/* LOGIN + REGISTER */
.login_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #383838;
    width: 300px;
    padding:25px;
    border-radius: 5px;
}

input[type=text] {
    height: 25px;
    width: 100%;
}

input[type=password] {
    height: 25px;
    width: 100%;
}

input[type=submit] {
    background-color: #22C6FF;
    width: 100%;
    padding: 10px 30px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    transition: background-color .25s;
}

input[type=submit]:hover {
    background-color: #1F90E3;
}


/* PROFILE */
.profile_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    height: 650px;
}

.profile_info {
    width: 400px;
    padding: 25px;
    margin-right: 50px;
    background-color: #383838;
}

.profile_details {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.textsmall_profile {
    color: #c7d4d3;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    margin: 0px;
    text-align: center;
}

.text_profile {
    color: #c7d4d3;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 0px;
    overflow-wrap: break-word;
}

.display_name {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    margin: 0px;
    text-align: center;
    font-weight: 700;
}

.profile_image {
    height: 130px;
    width: 130px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

.profile_container2 {
    width: 100%
}

.profile_artwork {
    height: 500px;
    padding-top: 5px;
    padding-bottom: 25px;
}

.text_artwork_profile {
    position: relative;
    color: #ffffff;
    text-shadow: #121212 1px 0 5px;
    left: 10px;
    top: 10px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

.art_placeholder {
    height: 500px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.profile_friends {
    height: 100px;
    background-color: #383838;
}

.edit_profile_display {
    visibility: collapse;
}

.edit_profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #383838;
    width: 300px;
    padding:25px;
    border-radius: 5px;
    z-index: 10;
}

#disp_editprofile:checked + .edit_profile_display {
    visibility: visible;
}

#disp_editprofile {
    display: none;
}

#edit-btn {
    background-color: #22C6FF;
    font-size: 15px;
    color: #ffffff;
    margin: 10px;
    font-family: "Lato", sans-serif;
    padding: 10px 30px;
    width: 160px;
    transition: background-color .25s;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#edit-btn:hover {
    background-color: #1F90E3;
}

.profile_btns:hover {
    color: #1F90E3;
}

input[type=button] {
    color: #22C6FF;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    margin: 0px;
    border: none;
    outline: inherit;
    cursor: pointer;
    background: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=button]:hover {
    color: #1692eb;
}

.back_shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #121212;
    opacity: 45%;
    z-index: 5;
}

.friends_art_likes {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px;
    list-style-type: none;
    font-size: 16px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
}

.edit_profile_btns {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

.edit_cancel {
    background-color: #6d6d6d;
    padding: 10px 30px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    transition: background-color .25s;
}

.edit_cancel:hover {
    background-color: #555555;
}

/* FEED */
#username_post {
    color: #c7d4d3;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 0px;
}

.post_div {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.top_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#post_pfp {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100px;
    margin: 0px;
    padding: 0px;
}

#post_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#display_post {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 35px;
    margin: 0px;
    font-weight: 700;
}

/* FOOTER */

/* MOBILE */

@media screen and (max-width: 1100px) {
    body {
        width: 1600px;
    }

    .topnav {
        width: 1600px;
    }
}