/* BODY */

body {
    touch-action: none;
    background-color: #121212;
    padding: 0;
    margin: 0;
}

/* TOP NAVIGATION*/
.topnav {
    position: sticky;
    background-color: #282828;
    z-index: 100;
    box-shadow: 1px 1px 17px 0px black;
    height: 50px;
}

.topnav li {
    /*margin-right: 4%;*/
    height: 39px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    list-style-type: none;
    color: #ffffff;
}

li a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-weight: 100;
}

ul {
    margin: 0;
}

a {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}

.logo {
    height: 50px;
}

.nav_text {
    padding-top: 11px;
}

.nav_text:hover {
    background-color: #383838;
}

/* CANVAS */
.art_tool {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 40px;
}

.toolbox {
    width: 350px;
    height: 600px;
    background-color: #383838;
    border-radius: 5px;
}
canvas {
    background-color: #ffffff;
    /*margin-top: calc(((100vh - 50px)/2) - 420px);
    margin-left: calc(((100vw)/2) - 600px);*/
    border-radius: 5px;
    cursor: crosshair;
}

/* FOOTER */

/* MOBILE */

@media screen and (max-width: 1100px) {
    body {
        width: 1600px;
    }

    .topnav {
        width: 1600px;
    }
}